services:

  web:
    build: ./
    restart: always
    ports:
      - "8000:8000"
    healthcheck:
      test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' http://127.0.0.1:8000/"
      interval: 5s
      timeout: 10s
      retries: 5